body{
	margin: 0;
	background-color: #000000;
}

header{
	width: 100%;
	background: #000000 url(image.png) no-repeat 5% 50%;
	height: 110px;	
}

.title{
	font-size: 36px;
	padding-top: 30px;
	text-align: center;
}

.menu li{
	float: left;
	color: #000000;
}

.menu a {
	display: block;
	padding: 1em;
	border-right: 1px solid #ADC0CE;
	background: #000000;
	color: #000000;
}

table, th, td {
    border: 1px solid black;
}

footer{
	width: 100%;
	background: #000000;
	height: 40px;
	padding: 20px 0;
	margin: 10px 0 0 0;
}

footer p{
	font-size: 16px;
}